@import 'normalize';

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

$alice-blue: #9cd6e4;
$cosmic-latte: #fff8e7;

$primary-color: darken($alice-blue, 50%);;
$secondary-color: #FFF8E7;
$app-background-color: $cosmic-latte;
$background-color: white;

$heading-color: $primary-color;

$desktop-start: 800px;


body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: $background-color;
}

div.line {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
	height: 1px;
	width: 300px;
	background-color: #bdc8cf;
}

.alert {
	color: red;
}

.framework-validation-error {
  border-color: red;
}

.lookup-limiter {
  max-width: 400px;
}

#app-window {
  background-color: $app-background-color;
  padding: 8px;
  @include media-query($desktop-start) {
    max-width: 800px;
    margin: 0.6em;
    border: 1px solid $primary-color;
  }
}

#app-title {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  color: $heading-color;
  @include media-query($desktop-start) {
    text-decoration: none;
    position: absolute;
    top: 0;
    background-color: $app-background-color;
    border-left: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    padding: 0 0.2em 0 0.2em;
  }
}

#menu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
