/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET END */
/* ALL ELEMENTS NEED TO BE REWRITTEN FROM HERE! */

body {
   background-color: #cbe1fb;
   font-family: Verdana;
   font-size: 14px;
   cursor: auto;
   line-height: 18px;
}

.left_container {
	float: left;
}

.right_container {
	float: right;
}

.clearfix {
	clear: both;
}

a {
   color: #003b39; 
   text-decoration: underline;
}
a:hover {
	cursor: pointer;
}

div {
	margin: 14px;
}

p {
	margin-bottom: 4px;
}

.edit_words_table {
	margin: 14px;
	border-collapse: collapse;
	border: 1px solid black;
}

.table_row_head {
	border-collapse: collapse;
	border: 1px solid black;	
}

.table_col_head {
	border-collapse: collapse;
	border: 1px solid black;
	margin: 6px;	
	vertical-align: top;		
}

.table_row {
	border-collapse: collapse;
	border: 1px solid black;	
}

.table_col {
	border-collapse: collapse;
	border: 1px solid black;
	margin: 6px;
	vertical-align: top;	
}

.kanji_title {
	font-size: 36px;
	line-height: 42px;
}

.hiragana_title {
	display: none;
}

.content {
	display: none;
}

span.title {
	font-size: 20px;
	line-height: 24px;
}

div.line {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
	height: 1px;
	width: 300px;
	background-color: #bdc8cf;
}

.alert {
	color: red;
}

.framework-validation-error {
  border-color: red;
}
